<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Successful</title>
    <link rel="stylesheet" href="/Public/Styles/counsellingDataSave.css">
</head>
<body>
    <div class="success-box">
        <p>Successfully Submitted</p>
        <div class="checkmark">&#10004;</div>
    </div>
</body>
</html>
