<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/Styles/requireDetails.css">
    <title>Registration Form</title>
</head>

<body>
    <img src="/Public/images/collegeIllustrations/college1.avif" alt="" id="img1">
    <div class="main">
        <div class="register">
            <h2>Student First Choice</h2>
            <form id="register" action="/firstChoiceSt" method="post">
     
                <label for="first" class="branch">
                    <p>First Choice</p>
                    <select class="year" name="firstChoice">
                        <!-- <option value="null">First choice </option> -->
                        <option value="IT">Information technology</option>
                        <option value="CSE">Computer Science and Engineering</option>
                        <option value="Auto Mobile">Auto Mobile</option>
                        <option value="Mechanical">Mechanical Engineering</option>
                        <option value="Electrical">Electrical Engineering</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Civil">Civil</option>
                    </select>
                </label>
                <label for="Category:">
                    Admission Year:
                    <select class="category" name="year">
                        <option value="year">Year</option>
                        <option value="1st">1st</option>
                        <option value="2nd">2nd</option>
                    </select>
                    </select>
                </label>
                <div class="container">
                    <button  id="btn-submit" >Find</button>
                </div>
            </form>
            {{!-- <a href="/ProfileSearch">Student Detail </a><br>
            <a href="/ProfileSearch">Gender and Category</a><br>
            <a href="/ProfileSearch">Student Detail </a><br>
            <a href="/ProfileSearch">Student Detail </a><br> --}}


        </div>


    </div>
</body>

</html>