<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Public/Styles/requireDetails.css" />
    <title>Available Sheets</title>
  </head>

  <body>
    <img
      src="/Public/images/collegeIllustrations/college1.avif"
      alt=""
      id="img1"
    />
    <div class="main">
      <div class="register">
        <h2>Available Sheets</h2>
        <form id="register" action="/availables" method="post">
          <label for="sheets">
            CSE
            <input type="Number" placeholder="CSE Sheets" name="cse" />
          </label>
          <label for="sheets">
            IT
            <input type="Number" placeholder="CSE Sheets" name="it" />
          </label>
          <label for="sheets">
            Mechanical
            <input type="Number" placeholder="CSE Sheets" name="me" />
          </label>
          <label for="sheets">
            Auto Mobile
            <input type="Number" placeholder="CSE Sheets" name="auto" />
          </label>
          <label for="sheets">
            Civil
            <input type="Number" placeholder="CSE Sheets" name="civil" />
          </label>
          <label for="sheets">
            Electrical
            <input type="Number" placeholder="CSE Sheets" name="electrical" />
          </label>
          <label for="sheets">
            Electronic
            <input
              type="Number"
              placeholder="Electronic Sheets"
              name="electronic"
            />
          </label>

          <div class="container">
            <button id="btn-submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>