<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Polytechnic Srinagar (Garhwal)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/Public/Styles/homePage1.css">
</head>
<body>
     <!-- Circular Button:  -->
     <div id="circle"></div>

     <!-- Main Container: -->
    <div id="main">
        <nav>
            <div id="leftSide">
                
                <img src="/Public/Images/SrinagarImages/college_logo.webp" alt="">
                <div class="aboutCollege">
                    <h1 class="title1">Government Polytechnic Srinagar</h1>
                </div>
            </div>
           
            <div id="rightSide">
                <nav>
                    <ul class="dropdown">
                        <li>
                            <a href="#" id="clickbtn">Student</a>
                            <ul class="submenu">
                                <li><a href="/counsellingForm">Counselling</a></li>
                                <li><a href="/StuDetails">College  Students Only </a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
                <a href="/SignIn" class="teacher">
                    <h3>Teachers</h3>
                </a>
            </div>
        </nav>
        <div class="CenterContainer">
                <img class='img1' src="/Public/Images/SrinagarImages/Srinagar-Garhwal2.jpg" alt="">
                <img class='img2' src="/Public/Images/SrinagarImages/gps.jpg" alt="">
                <img class='img3' src="/Public/Images/SrinagarImages/nccSrinagar1.jpg" alt="">
            <div class="CollegeInfo">
                <h1>
                    Government Polytechnic Srinagar
                </h1>
                <button >View <img src="/Public/Images/Icons/icons8-arrow-32.png" alt=""></button>
            </div>
        </div>

    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="/Public/Scripts/homePage1.js"></script>
</html>