<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/Styles/logInSignUp.css">
    <title>LogIn</title>
</head>
<body>
    <div class="box1">
        <img src="/Public/Images/collegeIllustrations/college2.avif" alt="" />

        <div class="singup-page">
            <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Username" name="name">
            <input type="password" placeholder="Password" name="password">
            <div class="recover">
                <a href="signIn.html">Forgot password</a>
            </div>
        <button>Log in</button>
        <div class="member"></div> Not  a member?
        <a href="/SignIn">
            Register Now
        </a>
    </div>
        </div>
    </div>
    </div>
</body>
</html>